.template_product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.template_title {
    border-bottom: 1px dotted blue;
    padding: 5px;
    text-align: center;
    font-size: large;
}

.template_price{
    text-align: right;
    font-size: small;
    border-top: 1px double red;
    padding: 5px;
}